body{
    font-family: system-ui;
}
header{
    background-color: #474749;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px rgb(112, 96, 96);
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}
.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #36373b;
    padding: 1px 6px;
    border-radius: 50%;
    color:rgb(255, 255, 255);
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    cursor: pointer;
}

.cart{
    width: 39px;
    height: 38px;
    /* cursor: pointer; */
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}
/* .cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
} */
.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(48, 39, 39);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: #0a0a0a;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: rgb(5, 5, 5);
    border: solid 2px rgb(0, 0, 0);
    transition-duration: .3s;
}
/* .carts a:hover + .cart-products{
    display: block;
} */
/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(0, 0, 0);
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: rgb(0, 0, 0);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    position:absolute;
    cursor: pointer;
    color: #000;
}

.copy {
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(173, 162, 162);
    background: #0a0a0e;
}
.btn__tag {
    border-radius: 2px solid;
    border: rgb(14, 8, 8);
}

.btn__tag:hover {
    background: grey;
    transition: all 0.3s;
}

.footer__title {
    border-bottom: 2px dotted rgb(0, 0, 0);
    padding-bottom: 10px;
}

.jump {
    border: 1px solid RGBA(0,0,0,0.37)
    ;
    margin: 0 40px;
}

.jump__title {
    margin: 0 40px;
    font-size: 1.5em;
    font-family: "Homer Simpson UI";
}

.jump2 {
    border: 1px solid RGBA(0,0,0,0.37);
    margin-bottom: 30px;
}

.jump__title2 {
    margin: 0 0;
    font-size: 1.5em;
    font-family: 'Play', sans-serif;
}

@media screen and (min-width: 360px) {
    .copy {
        text-align:center;
        width: 100%;
    }

    .menu {
        top: 110px;
    }
}

@media screen and (min-width: 576px) {
    .copy {
        text-align:center;
        width: 100%;
    }

    .menu {
        top: 125px;
    }
}
